*{
    padding : 0;
    margin : 0;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    height: 100px;
    margin-bottom: 100px;
}

#root{
    display: flex;
    flex-flow : wrap column;
    align-items: center;
    justify-content: center;
}

button{
    width: 50px;
    height: 20px;
}

#btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style : none;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

li{
    display: block;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: lightpink;
    background-size: contain;
    background-position: center;
}

li:hover{
    background-color: lightcoral;
}